body {
    margin: 0;
    padding: 0;
}


.tabla>div {
    background: #697C88;
    color: white;
    padding: 18px;
    text-align: center;
}

.tabla {
    font-family: sans-serif;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    grid-template:
        'celda1 celda1 celda2 celda2'
        'celda3 celda3 celda4 celda4'
        'celda5 celda5 celda4 celda4';
    margin: 0 auto;
}

.celda1 {
    grid-area: celda1
}

.celda2 {
    grid-area: celda2
}

.celda3 {
    grid-area: celda3
}

.celda4 {
    grid-area: celda4
}

.celda5 {
    grid-area: celda5
}

.listas {
    background: white;
    display: grid;
    grid-gap: 1px;
    grid-template: ' a a ' auto
}

.item1 {
    grid-area: a
}

.listas div {
    background: #DBDAF5;
    padding: 18px;
    color: black;
}

header {
    background: #333;
    color: #ffff;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}
.contenedor{
    width: 100%;
    margin: auto;
    justify-items: center;
    display: inline-grid;
    text-align: center;
}
img{
    width: 100%;
}
.header__contenido{
    position: relative;
    z-index: 100;
    background: white;
    border-radius: 50%;
    color: black;
    width: 150px;
    height: 150px;
    align-content: center;
    justify-items: center;
}
.logo{
    font-weight: 900;
    font-size: 30px;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    cursor:default;
    display: inline-grid;
}
.banner{
    height: 50vh;
    margin-top: -60px;
    position: relative;
    background: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.banner__descripcion{
    position: absolute;
    text-align: center;
    color: #fff;
    transform: translate(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 15px;
    margin-top: 25;
}
.button__banner{
    background: rgb(150, 150, 150);
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    padding: 20px 40px;
}
.button__banner:hover{
    /*border: 2px solid green;*/
    background: rgb(121, 121, 121);
    cursor:pointer;
}
.button__banner:active
{
    background: rgb(54, 54, 54);
    cursor:progress;
}
.galeria
{
    margin: 20px;
    /*width: 90%;
    justify-self: center;*/
}
.galeria h1{
    font-size: 80px;
    text-align: center;
    font-weight:bolder;
}

.team h1{
    
    text-align: center;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 20px;
}

.team__columna img{
    border-radius: 50%;
    
}
.team p{
    text-align: justify;
}
.team{
    background: rgb(227, 227, 227);
    padding: 30px;
    position: relative;
    width: calc(100% + 40px);
    box-sizing: border-box;
    left: -20px;
}
.team__grid
{
    display: grid;
    grid-gap: 30px;
    
    grid-template-columns: repeat(4,1fr);

    /*width: 2080px;*/
}
.info__columna
{
    margin: 20px;
    justify-content: center;
    
    text-align: center;
}
.banner2{
    height: 50vh;
    color: #fff;
    position: relative;
    background: url("../img/banner1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    align-content: center;
}

.grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
}
.info .contenedor
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.big
{
    grid-column: span 2;
    grid-row: span 2;

}
@media(max-width: 962px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .version__big
    {
        grid-column: span 1;
        grid-row: span 1;
    }
    .grid
    {
        min-width: 100%;
        
    }
    .info__columna h1
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .team h1
    {
        font-size: -webkit-xxx-large;
    }
}
@media(max-width: 962px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .team__grid
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .big
    {
        grid-column: span 1;
        grid-row: span 1;
    }

}
@media(max-width: 601px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .team__grid
    {
        grid-template-columns: repeat(1, 1fr);
    }
}
